// WiFi credentials
#define SSID "example"
#define PASSWORD "example"

// Relay pins
const int relay_pins[] = {4};
#define RELAY_PINS relay_pins

#define LIGHT_SENSOR_PIN A0

#define SERVER_PORT 80

// Humidity and temperature sensor
#define DHTPIN 17
#define DHTTYPE DHT11
